/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {width: 100%; height:auto; background-color: #EEEEEE;}
h1 {display:block; width:960px; height: 20px; margin: 15px 10px 5px 10px;}
.row {display:block; width:960px; height: 50px; border: 1px solid #333; margin: 5px 10px;}
	.row h2 {display:block; width: 200px; font-size: 12px; float: left; padding: 15px 0 0 5px;}
.box {display:block; width:44px; height: 44px; margin: 0 3px 0 0; float:left; font-size:10px;padding:3px;}
.color1 {background-color: #FF7400 !important;}
.color2 {background-color: #008C00 !important;}
.color3 {background-color: #FFFF88 !important;}
.color4 {background-color: #4096EE !important;}
.clr {clear:both;}